{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="home-page">
    <!-- About us -->
    <div class="section-about-us" id="tentang-kami">
      <div class="container">
    
        <section class="heading">
          <div class="row">
            <div class="col text-center 
                      section-features-heading">
              <h2>TENTANG KAMI</h2>
            </div>
          </div>
        </section>
    
        <section class="about-us-content">
          <div class="justify-content-center row text-center logo-about">
            <div class="col">
              <img src="{% static 'img/about-hero-logo.png' %}" alt="" srcset="">
            </div>
          </div>
    
          <div class="justify-content-center row ">
            <div class="col-lg-6 col-sm-12 konten">
              <h1>VISI</h1>
              <hr>
              <ul>
                <li>- Manajemen lengkap bagi pengurus yang
                  sibuk mulai dari dashboard.
                </li>
                <li>- Pengelolaan data warga (pendaftaran dan
                  validasi) Informasi.
                </li>
    
              </ul>
            </div>
            <div class="col-lg-6 col-sm-12 konten">
              <h1>MISI</h1>
              <hr>
              <ul>
                <li>- Manajemen lengkap bagi pengurus yang
                  sibuk mulai dari dashboard.
    
                </li>
                <li>- Manajemen lengkap bagi pengurus yang
                  sibuk mulai dari dashboard.
                </li>
                <li>- Pengelolaan data warga (pendaftaran dan
                  validasi) Informasi.
                </li>
              </ul>
            </div>
    
          </div>
        </section>
      </div>
    </div>
    
    <!-- Kata Mereka -->
    <div class="section-kata-mereka">
    
      <section class="heading">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2>Apa Kata Mereka?</h2>
              <hr>
            </div>
          </div>
        </div>
      </section>
    
    
      <section class="section-content" id="katamereka-content">
        <div class="container">
          <div class="konten row justify-content-center">
    
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="card card-katamereka text-center">
                <div class="katamereka-konten">
                  <img src="../../../static/img/gandhi.png" alt="User" class="mb-4 rounded-circle">
                  <h3 class="mb-4">Mahatma Gandhi</h3>
                  <p class="quotes">
                    "Sebuah budaya bangsa
                    tinggal di hati dan di dalam
                    jiwa rakyatnya."
                  </p>
                  <hr class="hr1">
                </div>
              </div>
            </div>
    
    
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="card card-katamereka text-center">
                <div class="katamereka-konten">
                  <img src="../../../static/img/kennedy.png" alt="User" class="mb-4 rounded-circle">
                  <h3 class="mb-4">John F. Kennedy</h3>
                  <p class="quotes">
                    "Jika seni bertujuan untuk memelihara
                    akar dari budaya kita, masyarakat harus
                    membiarkan seniman bebas mengikuti
                    visi mereka masing-masing kemanapun
                    hal itu membawa mereka."
                  </p>
                  <hr>
                </div>
              </div>
            </div>
    
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="card card-katamereka text-center">
                <div class="katamereka-konten">
                  <img src="../../../static/img/iwan-false.png" alt="User" class="mb-4 rounded-circle">
                  <h3 class="mb-4">Iwan Fals</h3>
                  <p class="quotes">
                    "Dari kebudayaan bisa saja kita berbeda
                    dari agama dan warna kulit bisa juga berbeda,
                    Seharusnya perbedaan ini tak membuat jadi
                    berbeda, Kenyataan sudah membuktikan
                    soal kita sama."
                  </p>
                  <hr>
                </div>
              </div>
            </div>
    
          </div>
    
          <div class="row button">
            <div class="col-12 text-center ">
              <a href="#" class="btn btn-narahubung px-4 mt4 mx-1">
                Narahubung
              </a>
    
              <a href="#" class="btn btn-letStart px-4 mt4 mx-1">
                Let's Start
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>

{% endblock %}
