<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="shortcut icon" href="../../Files/components/icon-logo.ico" />

    <title>RW Pintar - Eksplorasi</title>
</head>
<body>
    
    <!-- Navbar -->
    <div class="section-navbar">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            
                <a class="navbar-brand logo" href="dashboard.html"><img src="../../Files/components/homepage/Logo-full-transparent.png" alt=""></a>
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse  navbar-konten" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="#">UMKM</a>
                        </li>      
                        <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">HOME</a>
                        </li>                     
                    </ul>

                    <!-- Desktop -->
                    <ul class="navbar-nav d-none d-lg-flex">
                        <li class="nav-item dropdown">
                            <a
                                href="#"
                                class="nav-link"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                            >
                                <img
                                src="../../Files/components/user.svg"
                                alt=""
                                class="rounded-circle mr-2 profile-picture"
                                />
                                Hi, Hafiz
                            </a>
                            <div class="dropdown-menu">
                                <a href="dashboard.html" class="dropdown-item">Dashboard</a>
                                <a href="dashboard-account.html" class="dropdown-item"
                                >Settings</a
                                >
                                <div class="dropdown-divider"></div>
                                <a href="/" class="dropdown-item">Logout</a>
                            </div>
                        </li>

                    </ul>
                    <!-- mobile -->
                    <ul class="navbar-nav d-block d-lg-none">
                        <a href="#" class="nav-link">Hi, Hafiz</a>
                    </ul>
                </div>
              </div>
            </nav>
          </div>
    </div>

    <div class="eksplorasi-page">
      <!-- Hero Section  -->
      <div class="section-hero">
        <div class="container ">
          <div class="row">
            <div class="col-lg-6 col-md-12 kiri"><img src="../../Files/components/eksplorasi/banner_eksplorasi.svg" alt=""></div>
            <div class="col-lg-6 col-md-12 kanan">
              <p>ESKPLORASI RW</p>
              <P>YUK LIHAT RW SE-INDONESIA</P>
          </div>
          </div>
        </div>
      </div>

      <!-- Content -->
  
      <div class="container">
        <div class="row mb-3 mt-4 m-auto">
          <h3>Cari RW</h3>
        </div>

        <div class="row mb-2 mt-2" data-aos="fade-up" data-aos-delay="200">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="provinsi">Provinsi</label>
                  <select name="provinsi" id="provinsi" class="form-control">
                    <option value="DKI JAKARTA">DKI JAKARTA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kota">Kota / Kabupaten</label>
                  <select name="kota" id="kota" class="form-control">
                    <option value="JAKARTA PUSAT">JAKARTA PUSAT</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kecamatan">Kecamatan</label>
                  <select name="kecamatan" id="kecamatan" class="form-control">
                    <option value="GAMBIR">GAMBIR</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="kelurahan">Kelurahan</label>
                  <select name="kelurahan" id="kelurahan" class="form-control">
                    <option value="Kebon Kelapa">Kebon Kelapa</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="RW">RW</label>
                  <select name="RW" id="RW" class="form-control">
                    <option value="001">001</option>
                  </select>
                </div>
              </div>
              <div class="col-8 col-md-9">
                <a
                  href="umkm.html"
                  class="btn btn-outline-info  mt-4 px-4 btn-block"
                >
                  Search
                </a>
              </div>
            </div>
      </div>  
    </div>

    <!-- Footer -->
      <footer class="section-footer mt-5 mb-4" id="kontak-kami">
        <div class="container pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-lg-3">
                            <h5>FEATURES</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Social Media</a></li>
                                <li><a href="#">Affiliate</a></li>
                            </ul>
                        </div>             
                        
                        <div class="col-12 col-lg-3">
                            <h5>ACCOUNT</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Refund</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Reward</a></li>
                            </ul>
                        </div>          

                        <div class="col-12 col-lg-3">
                            <h5>COMPANY</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </div>          

                        <div class="col-12 col-lg-3">
                            <h5>GET CONNECTED</h5>
                            <ul class="list-unstyled">
                                <li>Jakarta Pusat</li>
                                <li>Indonesia</li>
                                <li><a href="#">0882-1192-1299</a></li>
                                <li><a href="#">thebetawie@gmail.com</a></li>
                            </ul>
                        </div>          

                    </div>
                </div>
            </div>
        </div>

          <div class="container-fluid copy">
              <div class="row border-top justify-content-center align-items-lg-center pt-4">
                  <p class="col-auto font-weight-light">
                      2020 Copyright TheBetawie &bull; All rights reserved &bull;
                      Made in Jakarta
                  </p>
              </div>
          </div>
      </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="../templates/retina/retina.js"></script>
  

</body>
</html>